CREATE DATABASE InventoryDB;
GO

USE InventoryDB;
GO

CREATE TABLE Categories (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(500),
    CreatedAt DATETIME2 NOT NULL,
    CreatedBy NVARCHAR(50),
    LastModifiedAt DATETIME2,
    LastModifiedBy NVARCHAR(50),
    IsDeleted BIT NOT NULL
);

CREATE TABLE Suppliers (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    ContactEmail NVARCHAR(100),
    ContactPhone NVARCHAR(20),
    Address NVARCHAR(250),
    CreatedAt DATETIME2 NOT NULL,
    CreatedBy NVARCHAR(50),
    LastModifiedAt DATETIME2,
    LastModifiedBy NVARCHAR(50),
    IsDeleted BIT NOT NULL
);

CREATE TABLE Users (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL UNIQUE,
    Email NVARCHAR(100) NOT NULL UNIQUE,
    PasswordHash NVARCHAR(MAX) NOT NULL,
    Role NVARCHAR(20) NOT NULL,
    CreatedAt DATETIME2 NOT NULL,
    CreatedBy NVARCHAR(50),
    LastModifiedAt DATETIME2,
    LastModifiedBy NVARCHAR(50),
    IsDeleted BIT NOT NULL
);

CREATE TABLE Products (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(100) NOT NULL,
    Description NVARCHAR(MAX),
    ReorderLevel INT NOT NULL,
    CategoryId INT NOT NULL,
    SupplierId INT,
    CreatedAt DATETIME2 NOT NULL,
    CreatedBy NVARCHAR(50),
    LastModifiedAt DATETIME2,
    LastModifiedBy NVARCHAR(50),
    IsDeleted BIT NOT NULL,
    CONSTRAINT FK_Products_Categories
        FOREIGN KEY (CategoryId) REFERENCES Categories(Id),
    CONSTRAINT FK_Products_Suppliers
        FOREIGN KEY (SupplierId) REFERENCES Suppliers(Id)
);

CREATE TABLE ProductInventoryDetails (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    ProductId INT NOT NULL,
    SupplierId INT NOT NULL,
    LotNumber NVARCHAR(50) NOT NULL,
    Price DECIMAL(18,2) NOT NULL,
    Stock INT NOT NULL,
    CreatedAt DATETIME2 NOT NULL,
    CreatedBy NVARCHAR(50),
    LastModifiedAt DATETIME2,
    LastModifiedBy NVARCHAR(50),
    IsDeleted BIT NOT NULL,
    CONSTRAINT FK_ProductInventoryDetails_Products
        FOREIGN KEY (ProductId) REFERENCES Products(Id),
    CONSTRAINT FK_ProductInventoryDetails_Suppliers
        FOREIGN KEY (SupplierId) REFERENCES Suppliers(Id)
);

CREATE TABLE InventoryTransactions (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    ProductId INT NOT NULL,
    TransactionType INT NOT NULL,
    Quantity INT NOT NULL,
    TransactionDate DATETIME2 NOT NULL,
    Reference NVARCHAR(100),
    CreatedAt DATETIME2 NOT NULL,
    CreatedBy NVARCHAR(50),
    LastModifiedAt DATETIME2,
    LastModifiedBy NVARCHAR(50),
    IsDeleted BIT NOT NULL,
    CONSTRAINT FK_InventoryTransactions_Products
        FOREIGN KEY (ProductId) REFERENCES Products(Id)
);
