<form [formGroup]="form" (ngSubmit)="save()" class="flex flex-column gap-3">
    <div class="flex flex-column gap-1">
        <label for="name" class="font-semibold">Nombre de la Categoría <span class="text-red-500">*</span></label>
        <input pInputText id="name" formControlName="name" class="w-full" placeholder="Ej: Electrónicos"
            maxlength="20" />
        <small class="p-error" *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched">
            El nombre es obligatorio.
        </small>
        <small class="p-error" *ngIf="form.get('name')?.errors?.['minlength'] && form.get('name')?.touched">
            Debe tener al menos 3 caracteres.
        </small>
        <small class="p-error" *ngIf="form.get('name')?.errors?.['maxlength'] && form.get('name')?.touched">
            Máximo 50 caracteres.
        </small>
    </div>

    <div class="flex flex-column gap-1">
        <label for="description" class="font-semibold">Descripción</label>
        <input pInputText id="description" formControlName="description" class="w-full"
            placeholder="Breve descripción..." maxlength="200" />
        <small class="p-error"
            *ngIf="form.get('description')?.errors?.['maxlength'] && form.get('description')?.touched">
            Máximo 200 caracteres.
        </small>
    </div>

    <div class="flex justify-content-end gap-2 mt-4">
        <p-button label="Cancelar" icon="pi pi-times" [text]="true" severity="secondary"
            (onClick)="cancel()"></p-button>
        <p-button label="Guardar" icon="pi pi-check" type="submit" [loading]="loading()"></p-button>
    </div>
</form>